<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shopping App</title>
</head>
<body>
	<h1 th:text="'Welcome ' +${session.customer.customerName}"></h1>

	<h1>Stock List</h1>
	
	<form method="get" action="/receiptPage">
		<table border = "1">
		 	<tr>
		 		<th>Product Name</th>
		 		<th>Price</th>
		 		<th>Choose Amount</th>
		 	</tr>
		 	<tr th:each="product: ${product}">
		 		<td th:text="${product.productName}"></td>
		 		<td th:text="${product.costPerUnit}"></td> 		
		 		<td><input type="text" name="amount"/></td>		
		 	</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	<br><br>
	<a href="./index">Go Back to Menu Page</a>
</body>
</html>